body {
    display: grid;
    grid-template-rows: 20% 60% 20%;
}
main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
}
main figure.planetImages {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    max-width: 100%;
}    
main figure.planetImages img {
    max-width: 100%;
}
main h1.planetName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
main section.ratings h3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: inline;
}
main h2.price {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
main article {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}
main h2.purchaseButton {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
main section.reviews {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

main h2.purchaseButton {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
