body {
    max-width: 80em;
    padding: 2em;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}
main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
}
main figure.planetImages {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}
main h1.planetName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
main h3.rating {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
main h2.price {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
main  article {
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}
main h2.purchaseButton {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
