:root{
    --background-color: rgba(212, 202, 219, .75);
    --main-content-font: 'Roboto Condensed', sans-serif;
    --text-fontsize: 14pt;
    --text-color: white;
    --secondary-content-font: Futura,Trebuchet MS, Arial,sans-serif;
}

main{
    color: var(--text-color);
    grid-column: 1 / 3;

}

body {
    max-width: 80em;
    padding: 2em;
    margin: auto;
    /* https://www.flickr.com/photos/jochenspieker/36726853776/in/photolist-XXqJ5Q-eBMnaL-BVkgKj-eABARe-92BQMn-22qafbw-MD2xsU-TikZhE-kTJmdi-98K3kT-Tiv49t-29LDycF-9a3ryD-fKod5s-bEDEPo-28u2npU-Zf91DJ-22EDktM-Gjc4Ck-YVrTVb-Y2ofwv-QXDTWk-Lk2Mz6-2ch489s-XCD2Eo-S1DKA4-S49cQ6-SXAryn-21fQoeM-NLGdaM-H8SZbw-22xszih-nUu6M2-R6hyTH-2cKYW6t-dLpSW3-2eqERXx-YE9z3o-SDqawZ-29pQCga-PYneTH-9kk4cq-DQAcgD-23ShZgz-dJoUuQ-bM5QCT-bw2Cd5-2e5Lz9F-RHf8Z8-Gjc6dz */
    /* Background image source */
    background-image: url("../images/background.jpg");
    display: grid;
    grid-template-rows: 15% 15% 60% 10%;
    grid-template-columns: 40% 60%;
}

nav {
    margin: auto;
}

nav > ul > li {
    display: inline-block;
    text-align: right;
    list-style-type: none;
    padding: 2em 2em
}
nav > ul > li > a {
    text-decoration: none;
    font-size: 2em;
    color:  white;
    position:relative;
}

.activePage > a{
    color: rgb(255, 235, 54);
}

nav > ul > li >a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:100% ;
    height: .09em ;
    background: chartreuse ;
    transform: scaleX(0) ;
    transform-origin: center;
    transition: transform 200ms ease-in-out;
}

nav > ul > li >a:hover::after{
    transform: scaleX(1);
    left: 0;
    right: auto;
    width: 100%;
}
h1,h2,h3,p,li,a,address,figcaption,legend {
    color: var(--text-color);
}
p {
    font-family: var(--main-content-font);
    font-size: var(--text-fontsize)
}

h1 {
    font-family: var(--secondary-content-font);
    font-size: 28pt;
}

h2 {
    font-family: var(--secondary-content-font);
    font-size: 20pt;
}

h3 {
    font-family: var(--secondary-content-font);
    font-size: 18pt;
}

nav a {
    font-family: var(--secondary-content-font)
}

figcaption {
    font-family: var(--main-content-font);
    font-size: var(--text-fontsize);
}

address {
    font-family: var(--main-content-font);
    font-size: var(--text-fontsize);
}

li {
    font-family: var(--main-content-font);
    font-size: var(--text-fontsize)
}
section.text {
    font-family: var(--secondary-content-font);
    font-size: 20pt;
}
legend {
    font-family: var(--main-content-font);
    font-size: var(--text-fontsize)
}

footer{
    /* background: var(--background-color); */
    text-align: center;
    padding: 11em 0 0 0 ;
    grid-column: 1 / 3;
}

footer > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 2em;

}
footer > ul > li > a {
    text-decoration: none;
    font-size: 1.5em;
    color:  white;
    position:relative;
}

footer > ul > li >a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:100% ;
    height: .09em ;
    background: currentColor ;
    transform: scaleX(0) ;
    transform-origin: center;
    transition: transform 200ms ease-in-out;
}

footer > ul > li >a:hover::after{
    transform: scaleX(1);
    left: 0;
    right: auto;
    width: 100%;
}

.names{
    color: var(--text-color);
}

.logo{

}
/* The css for slide show was origonally gotten from W3 Schools */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* Slideshow container */
.slideshow-container {
    max-width: 35em;
    diplay: inline-block;
    margin: auto;
    align:center;
    left:1.6em

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    margin:auto;
    padding:0em 3.7em;
    margin-top: -1em;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: .5em;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: .5em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    background-size: 2em;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 35px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

input[type=text] {
    border-radius: .5em;
    margin: 1em;
    padding: .7em;
    width: 20em;
    font-size: 12pt;
}

textarea {
    border-radius: .5em;
    font-size: 12pt;
    font-family: var(--main-content-font);
}
p label  {
    text-align: center;
}

select {
    border-radius: .5em;
    margin: 1em;
    padding: .4em;
    font-size: 12pt;
}

input[type=submit]{
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    font-size: 14pt;
    color: white;
    background-color: mediumpurple;
}

input[type=submit]:hover  {
    transition: background-color 1s ease-in;
    background-color:rgb(212, 202, 219);
}

body#paymentform main{
    background:rgba(212, 202, 219, .50);
    padding: 1em;
    border-radius: 1em;
}

body#paymentform main fieldset {
    padding: 1em;
    margin: 1em;
}

body#paymentform main fieldset p {
    padding: .5em
}

