:root{
    --background: rgba(212, 202, 219, .75);
    --text-color: rgb(255, 255, 255);
    --h1-fontsize: t;
    --h2-fontsize: t;
}

main{
    color: var(--text-color);
    
}

body {
    max-width: 80em;
    padding: 2em;
    /* https://www.flickr.com/photos/jochenspieker/36726853776/in/photolist-XXqJ5Q-eBMnaL-BVkgKj-eABARe-92BQMn-22qafbw-MD2xsU-TikZhE-kTJmdi-98K3kT-Tiv49t-29LDycF-9a3ryD-fKod5s-bEDEPo-28u2npU-Zf91DJ-22EDktM-Gjc4Ck-YVrTVb-Y2ofwv-QXDTWk-Lk2Mz6-2ch489s-XCD2Eo-S1DKA4-S49cQ6-SXAryn-21fQoeM-NLGdaM-H8SZbw-22xszih-nUu6M2-R6hyTH-2cKYW6t-dLpSW3-2eqERXx-YE9z3o-SDqawZ-29pQCga-PYneTH-9kk4cq-DQAcgD-23ShZgz-dJoUuQ-bM5QCT-bw2Cd5-2e5Lz9F-RHf8Z8-Gjc6dz */
    /* Background image source */
    background-image: url("../images/background.jpg");
}

nav{
    float:right;
    background: var(--background-color);
}

nav > ul > li {
    display: inline-block;
    text-align: right;
    list-style-type: none;
    padding: 2em 2em
}
nav > ul > li > a {
    text-decoration: none;
    font-size: 2em;
    color:  white;
    position:relative;
}

.activePage > a{
    color: rgb(255, 235, 54);
}

nav > ul > li >a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:100% ;
    height: .09em ;
    background: currentColor ;
    transform: scaleX(0) ;
    transform-origin: center;
    transition: transform 200ms ease-in-out;
}

nav > ul > li >a:hover::after{
    transform: scaleX(1);
    left: 0;
    right: auto;
    width: 100%;
}

footer{
    background: var(--background-color);
    text-align: center;
}

footer > ul > li {
    display: inline-block;
    list-style-type: none;
    padding:11em 2em 1em 2em
}
footer > ul > li > a {
    text-decoration: none;
    font-size: 1.5em;
    color:  white;
    position:relative;
}

footer > ul > li >a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:100% ;
    height: .09em ;
    background: currentColor ;
    transform: scaleX(0) ;
    transform-origin: center;
    transition: transform 200ms ease-in-out;
}

footer > ul > li >a:hover::after{
    transform: scaleX(1);
    left: 0;
    right: auto;
    width: 100%;
}

.names{
    color: var(--text-color);
}

.logo{
    float:left;
}
/* The css for slide show was origonally gotten from W3 Schools */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* Slideshow container */
.slideshow-container {
  max-width: 35em;
  diplay: inline-block;
  margin: auto;
  align:center;
  left:1.6em

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  margin:auto;
  padding:0em 3.7em;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

